In [2]:
import pandas as pd

# Ex2 - Getting and Knowing your Data

In [8]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 13. Turn the item price into a float

In [9]:
# my solution
chipo.item_price = chipo[['item_price']].apply(lambda x: x.str.replace('$','').astype('float'))
# other solution
dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)

# Ex3 - Getting and Knowing your Data

### Step 15. Summarize all the columns

In [ ]:
users.describe(include = "all") #Notice: By default, only the numeric columns are returned.

# Ex3 - Filtering & Sorting

### Step 17. Select the third cell in the row named Arizona

In [ ]:
army.loc['Arizona'].iloc[2]

### Step 18. Select the third cell down in the column named deaths

In [ ]:
army.loc[:, ["deaths"]].iloc[2]

# Ex - Grouping