# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [3]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [5]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

### Step 4. See the first 10 entries

In [6]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [7]:
# Solution 1
chipo.shape[0]

4622

In [8]:
# Solution 2
len(chipo)

4622

### Step 6. What is the number of columns in the dataset?

In [9]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [10]:
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [11]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [14]:
chipo.groupby('item_name')['order_id'].count().reset_index().sort_values('order_id', ascending=False).head(5)

              item_name  order_id
17         Chicken Bowl       726
18      Chicken Burrito       553
25  Chips and Guacamole       479
39        Steak Burrito       368
10    Canned Soft Drink       301

### Step 10. For the most-ordered item, how many items were ordered?

In [19]:
chipo.loc[chipo.item_name=='Chicken Bowl', 'quantity'].sum()

761

### Step 11. What was the most ordered item in the choice_description column?

In [16]:
chipo.groupby('choice_description')['order_id'].count().reset_index().sort_values('order_id', ascending=False).head(5)

                                    choice_description  order_id
15                                         [Diet Coke]       134
14                                              [Coke]       123
583                                           [Sprite]        77
256  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...        42
254  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...        40

### Step 12. How many items were orderd in total?

In [20]:
chipo.quantity.sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [22]:
chipo.item_price.dtypes

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [32]:
chipo.item_price = chipo[['item_price']].apply(lambda x: x.str.replace('$','').astype('float'))

#### Step 13.c. Check the item price type

In [33]:
chipo.item_price.dtypes

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [38]:
(chipo.item_price * chipo.quantity).sum()

39237.02

### Step 15. How many orders were made in the period?

In [25]:
chipo.order_id.nunique()

1834

### Step 16. What is the average revenue amount per order?

In [39]:
# Solution 1
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
chipo.groupby('order_id')['revenue'].sum().mean()

21.39423118865867

In [40]:
# Solution 2
chipo.revenue.sum() / chipo.order_id.nunique()

21.39423118865867

### Step 17. How many different items are sold?

In [15]:
chipo.item_name.nunique()

50